body{
    background-color: azure;
}

.menu{
    display: flex;
    gap: 2%;
}

.container{
    border: 2px ;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


p {
    font-size: 24px;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
    background-color: bisque;
   
}

.textos{
    border: 2px dashed black;
    display: flex;
    justify-content: center;
    gap: 25px
}