@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;

}

body{
    background-color: rgb(255, 255, 255);
}

.menu{
    display: flex;
    gap: 2%;
    padding: 20px;
    background-color: #E95E13;

    list-style: none;
}

.item-menu{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
}

.item-menu:hover{
    color: greenyellow;
}
.container{
    display: flex;
}


.mangue {
    border: 2px solid black;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
    background-color: bisque;
    text-align: justify;
    font-size: 20px;

}

.textos{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.midia{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 50px;
}

.titulo{
    text-align: center;
    padding: 10px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;


}

.video{
    margin-top: 40px;
}

.texto-video{
    margin-bottom: 20px;
    text-align: center;
}

.imagem img{
    width: 400px;
    height: 250px;
    border: 2px solid #E95E13;
    border-radius: 50%;

}


.textos img{
    width: 80%;
}

.lista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    list-style: none;
    
}
.areacontato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 78vh; /* tamanho minimo da tela, mas pode crescer caso coloque mais conteudo. */
    width: 75%;
    margin: 0 auto;
  }
  .contato form {
      width: 60%;
      display: flex;
      flex-direction: column;
      
    }

.txtinfo{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 55px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: bisque;
    text-align: justify;
    font-size: 20px;


}


  .contato button {
    padding: 0.5rem 1rem;
    width: 100%;
    border: 2px solid gray;
    border-radius: 0.25rem;
    background-color: transparent;
    text-decoration-color: black;
    color: gray;
    font-size: 1.275rem;
    font-weight: 600;
    width: max(50%, 150px);
    margin: 0 auto;
    cursor: pointer; /* mudando o formato do cursor do mouse quando colocar em cima do botão, para mãozinha */
    transition: 0.3s ease-out;
  }

  footer {
    font-size:medium;
    text-align: center;
    color: #E95E13;
    font-weight: 100;
    margin: 1rem 0;
    border-top: 1px solid;
    padding-top: 0.5rem;
  }
  
  footer span {
    font-weight: 00;
    color: black;
  }